*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color:#FFFFFF
}

.cabecalho {
  background-color: #00000b;
}

#logo {
  color: #FFFFFF;
  margin-top: 8px;
}

.btn {
  border: none;
  background: #8E2EA6;
}

.list-nav, a {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 23px;
  margin-right: 25px;
  color: #FFFFFF;
}

.list-nav, a:hover {
  color: #8E2EA6;
}

#button-nav {
  margin-top: 15px;
}

.pagina-1 {
  background-image: url(imagens/background.png);
}

.pagina-2 {
  background: #00000b;
}

.pagina-3 {
  background-image: ;
}

.pagina-4 {
  background-image: ;
}

.pagina-5 {
  background-image: ;
}

.pagina-6 {
  background-image: ;
}